<div class="container-fluid">
    <div class="banner">
        <figure class="image">
            <img src="/media/<%= pageContent.banner %>?w=2560&h=400" alt="<%= pageContent.banner_alt %>" width="1920" height="300">
        </figure>
        <div class="content">
            <div class="container">
                <h1><%= pageContent.main_title %></h1>   
            </div>
        </div>
    </div>
</div>